In [35]:
import pandas as pd
import io
import matplotlib.pyplot as plt


df_post = pd.read_csv('/content/posts.csv')
print("Completed loading post.csv")

df_user = pd.read_csv('/content/users.csv')
print("Completed loading user.csv")

df_ph = pd.read_csv('/content/post_history.csv')
print("Completed loading df_ph.csv {}".format(df_ph.shape[0]))
print("After cleaning the ph data frame {}".format(df_ph.shape[0]))

df_votes= pd.read_csv('/content/votes.csv')
print("Completed loading votes.csv")

df_comments= pd.read_csv('/content/comments.csv')
print("Completed loading comments.csv")

Completed loading post.csv
Completed loading user.csv
Completed loading df_ph.csv 3960541
After cleaning the ph data frame 3960541
Completed loading votes.csv
Completed loading comments.csv

In [36]:
#set the datetime
print("user data types\n {}".format(df_user.dtypes))
print("post data types\n {}".format(df_post.dtypes))
print("ph data types\n {}".format(df_ph.dtypes))
print("vote data types\n {}".format(df_votes.dtypes))

print(df_ph.shape)
print(df_post.shape)
print(df_post.dtypes)

user data types
 Unnamed: 0        int64
id                int64
reputation        int64
creation_date    object
display_name     object
views             int64
upvotes           int64
downvotes         int64
account_id        int64
dtype: object
post data types
 Unnamed: 0                int64
id                        int64
post_type_id              int64
accepted_answer_id        int64
parent_id               float64
creation_date            object
score                   float64
view_count              float64
owner_user_id           float64
tags                     object
answer_count            float64
comment_count           float64
favorite_count          float64
closed_date              object
community_owned_date     object
dtype: object
ph data types
 Unnamed: 0         int64
id                 int64
ph_type_id         int64
post_id            int64
creation_date     object
user_id          float64
dtype: object
vote data types
 Unnamed: 0         int64
id               float64
post_id          float64
vote_type_id     float64
creation_date     object
bounty_amount    float64
user_id          float64
dtype: object
(3960541, 6)
(2718948, 15)
Unnamed: 0                int64
id                        int64
post_type_id              int64
accepted_answer_id        int64
parent_id               float64
creation_date            object
score                   float64
view_count              float64
owner_user_id           float64
tags                     object
answer_count            float64
comment_count           float64
favorite_count          float64
closed_date              object
community_owned_date     object
dtype: object

In [37]:
df_user['creation_date'] = pd.to_datetime(df_user['creation_date'],errors='coerce',format='%Y-%m-%dT%H:%M:%S.%f')
df_post['creation_date'] = pd.to_datetime(df_post['creation_date'],errors='coerce',format='%Y-%m-%dT%H:%M:%S.%f')
df_post['closed_date'] = pd.to_datetime(df_post['closed_date'],format='%Y-%m-%dT%H:%M:%S.%f')
df_post['community_owned_date'] = pd.to_datetime(df_post['community_owned_date'],format='%Y-%m-%dT%H:%M:%S.%f')

df_ph['creation_date'] = pd.to_datetime(df_ph['creation_date'],format='%Y-%m-%dT%H:%M:%S.%f')

In [38]:
#select creation_date from user table
df_userid=df_user[df_user['id']==5]
print(df_userid)

df_user = df_userid['creation_date']
print(df_user)

   Unnamed: 0  id  reputation  ... upvotes downvotes  account_id
5           5   5       17556  ...     704        34        -999

[1 rows x 9 columns]
5   2008-07-31 14:22:31.317
Name: creation_date, dtype: datetime64[ns]

In [39]:
from datetime import datetime
  
  
# returns current date and time
current_date = datetime.now()
print("now = ", current_date)

now =  2022-02-17 00:44:41.958485

In [40]:
df_user['current_date'] =current_date

In [41]:
df_userid['reputation']

5    17556
Name: reputation, dtype: int64

In [42]:
df_post = df_post[df_post['owner_user_id']==5]

In [43]:
df_post.head()

      Unnamed: 0    id  ...  closed_date  community_owned_date
13            13    20  ...          NaT                   NaT
228          228   352  ...          NaT                   NaT
1158        1158  1929  ...          NaT                   NaT
1207        1207  2003  ...          NaT                   NaT
1210        1210  2007  ...          NaT                   NaT

[5 rows x 15 columns]

In [44]:
df_ans = df_post['creation_date'] < current_date
df_ans = df_post['answer_count']

In [45]:
#Total Reputation from post upvotes 
import pandas as pd
Reputation_Count=0
v_creationDate = df_votes['creation_date']
print(v_creationDate)
df_post = df_post[df_post['owner_user_id']==1]
df_votes = df_votes[df_votes['vote_type_id']==1]
df_votes = df_votes[df_votes['user_id']==5]
Reputation_Count =15

0          2008-07-31
1          2008-07-31
2          2008-07-31
3          2008-07-31
4          2008-07-31
              ...
4747932    2010-01-09
4747933    2010-01-09
4747934    2010-01-09
4747935    2010-01-09
4747936           NaN
Name: creation_date, Length: 4747937, dtype: object